.key {
	border-radius: 0.2rem;
	background-color: #ccc;
	color: #222;
	width: 1.5rem;
	height: 2rem;
	margin: 0.57rem 0.2rem;

	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0.9rem;
}

.key:hover {
	background-color: #fff;
}

.word {
	border-radius: 0.2rem;
	background-color: #aaa;
	color: #222;
	margin: 0.57rem 0.3rem;
	width: 3rem;
	height: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0.7rem;
}

.word:hover {
	background-color: #fff;
}

.disabled {
	background: #555;
	border-radius: 0.2rem;
	color: #222;
	width: 1.5rem;
	height: 2rem;
	margin: 0.57rem 0.2rem;

	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0.9rem;
}

@media (min-width: 640px) {
	.key {
		width: 3rem;
		height: 3rem;
		margin: 0.3rem;
	}

	.word {
		width: 5rem;
		height: 3rem;
		margin: 0.5rem;
	}

	.disabled {
		width: 3rem;
		height: 3rem;
		margin: 0.3rem;
	}
}
